<div class="title">
    <h3>
        <strong>BOVINET WEB APP.</strong>
    </h3>
</div>

<hr>

<div class="body">
    <p class="body-text">
        This application was developed in order to meet all the requirements proposed by the client, 
        in a successful way and to facilitate the management of their animals, employees and partners, 
        this web application will allow the administrator to obtain a detailed report of income and 
        expenditure, as well as manage a proper inventory of their animals, as well as those of their partners, 
        in addition, you can make the liquidation of each of its employees quickly and accurately, 
        thus forgetting about notebooks, which can be lost or damaged. 
        <br><br>
        With this application you can do:
    </p>
    <ul>
        <li>Add owner</li>
        <li>Add animal</li>
        <li>Add medicine</li>
        <li>Add employee</li>
        <li>Consult animals</li>
        <li>Consult employees</li>
        <li>Consult medicines</li>
        <li>Generate reports</li>
    </ul>
</div>