<div class="title">
    <h3>
        <strong>Consult animals.</strong>
    </h3>
</div>
<hr>
<div class="filter">
    <label for="searchText">Filter code:</label>
    <input class="form-control" type="text" name="searchText" id="searchText" placeholder="Input animal code" [(ngModel)]="searchText">
</div>
<hr>
<table class="table">
    <thead>
        <tr>
            <th>Code</th>
            <th>Breed</th>
            <th>Weight</th>
            <th>Date of birth</th>
            <th>Type</th>
            <th>Status</th>
            <th>Origin</th>
            <th>Owner</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let animal of animals; index as i">
            <td>{{ animal.code }}</td>
            <td>{{ animal.breed }}</td>
            <td>{{ animal.weigth }}</td>
            <td>{{ animal.dateBirth | date}}</td>
            <th>{{ animal.type }}</th>
            <td>{{ animal.status }}</td>
            <td>{{ animal.origin }}</td>
            <td>{{ animal.ownerId }}</td>
            <td>
                <a [routerLink] = "['/add-employee']"><svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="22" height="22"><path d="M.5 10.5l-.354-.354-.146.147v.207h.5zm10-10l.354-.354a.5.5 0 00-.708 0L10.5.5zm4 4l.354.354a.5.5 0 000-.708L14.5 4.5zm-10 10v.5h.207l.147-.146L4.5 14.5zm-4 0H0a.5.5 0 00.5.5v-.5zm.354-3.646l10-10-.708-.708-10 10 .708.708zm9.292-10l4 4 .708-.708-4-4-.708.708zm4 3.292l-10 10 .708.708 10-10-.708-.708zM4.5 14h-4v1h4v-1zm-3.5.5v-4H0v4h1z" fill="currentColor"></path></svg></a>
                 | 
                <button (click) = "deleteAnimal(animal.code)" class="btn btn-link"><svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="22" height="22"><path d="M4.5 3V1.5a1 1 0 011-1h4a1 1 0 011 1V3M0 3.5h15m-13.5 0v10a1 1 0 001 1h10a1 1 0 001-1v-10M7.5 7v5m-3-3v3m6-3v3" stroke="currentColor"></path></svg></button>
                 | 
                <a [routerLink] = "['/add-production/', animal.code]"><svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="22" height="22"><path d="M2.449 14.398l.447-.224-.447.224zm10.102 0l.447.224-.447-.224zM.703 6h13.594V5H.703v1zM14 5.703v.439h1v-.439h-1zM12.386 14H2.614v1h9.772v-1zM1 6.142v-.439H0v.439h1zm1.896 8.032A17.96 17.96 0 011 6.142H0c0 2.944.685 5.847 2.002 8.48l.894-.448zM2.614 14c.12 0 .229.068.282.174l-.894.448a.685.685 0 00.612.378v-1zm9.49.174a.315.315 0 01.282-.174v1c.26 0 .496-.146.612-.378l-.894-.448zM14 6.142c0 2.788-.65 5.538-1.896 8.032l.894.448A18.96 18.96 0 0015 6.142h-1zM14.297 6A.297.297 0 0114 5.703h1A.703.703 0 0014.297 5v1zM.703 5A.703.703 0 000 5.703h1A.297.297 0 01.703 6V5zm3.226.757l3-5L6.07.243l-3 5 .858.514zm4.142-5l3 5 .858-.514-3-5-.858.514z" fill="currentColor"></path></svg></a>
                 |
                <a [routerLink] = "['/add-appliedmedicine']"><svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="22" height="22"><path d="M11 1.5h2.5v12a1 1 0 01-1 1h-10a1 1 0 01-1-1v-12H4M7.5 6v5M5 8.5h5M4.5.5h6v2a1 1 0 01-1 1h-4a1 1 0 01-1-1v-2z" stroke="currentColor"></path></svg></a>
            </td>
        </tr>
    </tbody>
</table>