<div class="title">
    <h3>
        <strong>Add medicine.</strong>
    </h3>
</div>
<hr>
<form [formGroup] = "formGroup">
    <div class="form-group">
        <label for="code">Code:</label>
        <input class="form-control" type="text" name="code" id="code" placeholder="Code" formControlName="code">
    </div>
    <span class="text-danger ml-3" *ngIf = "formGroup.get('code').hasError('required') && formGroup.get('code').touched">
        Identification is requred
    </span>
    <div class="form-group">
        <label for="name">Name:</label>
        <input class="form-control" type="text" name="name" id="name" placeholder="Name" formControlName="name">
    </div>
    <span class="text-danger ml-3" *ngIf = "formGroup.get('name').hasError('required') && formGroup.get('name').touched">
        Name is required
    </span>
    <div class="form-group">
        <label for="type">Type:</label>
        <select class="form-control" name="type" id="type" formControlName="type">
            <option value="Vitamin">Vitamin</option>
            <option value="Medicine">Medicine</option>
        </select>
    </div>
    <div class="form-group">
        <label for="expirationdate">Expiration Date:</label>
        <input class="form-control" type="date" name="expirationdate" id="expirationdate" formControlName="expirationdate">
    </div>
    <div class="form-group">
        <label for="unitcost">Unit cost:</label>
        <input class="form-control" type="number" name="unitcost" id="unitcost" placeholder="unitcost" formControlName="unitcost">
    </div>
    <div class="form-group">
        <label for="quantity">Quantity:</label>
        <input class="form-control" type="number" name="quantity" id="quantity" placeholder="Quantity" formControlName="quantity">
    </div> 
    <div class="btn-add">
        <button class="btn btn-success" (click)="onSubmit()" [disabled] = "formGroup.invalid">Add</button>
    </div>
    <div class="btn-cancel">
        <button class="btn btn-danger" type="reset">Cancel</button>
    </div>
    <br><br>
</form>
