<div class="title">
    <h3>
        <strong>Consult employees.</strong>
    </h3>
</div>
<hr>
<table class="table">
    <thead>
        <tr>
            <th>Identification</th>
            <th>Name</th>
            <th>Position</th>
            <th>Contract date</th>
            <th>Salary</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let employee of employees; index as i">
            <td>{{ employee.id }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.position }}</td>
            <td>{{ employee.contractdate }}</td>
            <th>{{ employee.salary }}</th>
            <td>
                <a [routerLink] = "['/add-employee']"><svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="22" height="22"><path d="M.5 10.5l-.354-.354-.146.147v.207h.5zm10-10l.354-.354a.5.5 0 00-.708 0L10.5.5zm4 4l.354.354a.5.5 0 000-.708L14.5 4.5zm-10 10v.5h.207l.147-.146L4.5 14.5zm-4 0H0a.5.5 0 00.5.5v-.5zm.354-3.646l10-10-.708-.708-10 10 .708.708zm9.292-10l4 4 .708-.708-4-4-.708.708zm4 3.292l-10 10 .708.708 10-10-.708-.708zM4.5 14h-4v1h4v-1zm-3.5.5v-4H0v4h1z" fill="currentColor"></path></svg></a>
                 | 
                <a href=""><svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="22" height="22"><path d="M4.5 3V1.5a1 1 0 011-1h4a1 1 0 011 1V3M0 3.5h15m-13.5 0v10a1 1 0 001 1h10a1 1 0 001-1v-10M7.5 7v5m-3-3v3m6-3v3" stroke="currentColor"></path></svg></a>
                 | 
                <a [routerLink] = "['/settlement']"><svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="22" height="22"><path d="M4.5 6.995H4v1h.5v-1zm6 1h.5v-1h-.5v1zM4.5 9.5H4v.5h.5v-.5zm6 0v.5h.5v-.5h-.5zm-6-4V5H4v.5h.5zm6 0h.5V5h-.5v.5zm3-2h.5v-.207l-.146-.147-.354.354zm-3-3l.354-.354L10.707 0H10.5v.5zm-6 7.495h6v-1h-6v1zM4.5 10h6V9h-6v1zm0-4h6V5h-6v1zm8 8h-10v1h10v-1zM2 13.5v-12H1v12h1zm11-10v10h1v-10h-1zM2.5 1h8V0h-8v1zm7.646-.146l3 3 .708-.708-3-3-.708.708zM2.5 14a.5.5 0 01-.5-.5H1A1.5 1.5 0 002.5 15v-1zm10 1a1.5 1.5 0 001.5-1.5h-1a.5.5 0 01-.5.5v1zM2 1.5a.5.5 0 01.5-.5V0A1.5 1.5 0 001 1.5h1zm2 4v4h1v-4H4zm3 0v4h1v-4H7zm3 0v4h1v-4h-1zM4 4h3V3H4v1zm4 8h3v-1H8v1z" fill="currentColor"></path></svg></a>
            </td>
        </tr>
    </tbody>
</table>