<div class="title">
    <h3>
        <strong>Consult medicines.</strong>
    </h3>
</div>
<hr>
<table class="table">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Type</th>
            <th>Expiration date</th>
            <th>Unit cost</th>
            <th>Quantity</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let medicine of medicines">
            <td>{{ medicine.code }}</td>
            <td>{{ medicine.name }}</td>
            <td>{{ medicine.type }}</td>
            <td>{{ medicine.expirationDate | date }}</td>
            <th>{{ medicine.unitCost }}</th>
            <td>{{ medicine.quantity }}</td>
            <td>
                <a [routerLink] = "['/add-employee']"><svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="22" height="22"><path d="M.5 10.5l-.354-.354-.146.147v.207h.5zm10-10l.354-.354a.5.5 0 00-.708 0L10.5.5zm4 4l.354.354a.5.5 0 000-.708L14.5 4.5zm-10 10v.5h.207l.147-.146L4.5 14.5zm-4 0H0a.5.5 0 00.5.5v-.5zm.354-3.646l10-10-.708-.708-10 10 .708.708zm9.292-10l4 4 .708-.708-4-4-.708.708zm4 3.292l-10 10 .708.708 10-10-.708-.708zM4.5 14h-4v1h4v-1zm-3.5.5v-4H0v4h1z" fill="currentColor"></path></svg></a>
                 | 
                 <button (click) = "deleteMedicine(medicine.code)" class="btn btn-link"><svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="22" height="22"><path d="M4.5 3V1.5a1 1 0 011-1h4a1 1 0 011 1V3M0 3.5h15m-13.5 0v10a1 1 0 001 1h10a1 1 0 001-1v-10M7.5 7v5m-3-3v3m6-3v3" stroke="currentColor"></path></svg></button>
            </td>
        </tr>
    </tbody>
</table>